{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Publish - Pendrivers</title>

  
  {% include "./includes/css.html" %}
  <style type="text/css">
    .about {
        max-width: 60%;
        margin: auto;
        line-height: 30px;
    }

    .new {
        font-size: 1.2em;
        font-weight: 900;
    }
</style>
</head>

<body id="body" class="body-wrapper boxed-menu" >
  
  
	
  <div class="main-wrapper">
    
    <header id="pageTop" class="header">

      

      <div class="nav-wrapper navbarWhite">
        
        {% include "./includes/navbar.html" %}
      </div>
    </header>


<section class="clearfix">
	<div class="container">
            <h3 class="text-center" style="font-size:2em;">Privacy Policy</h3><br>
        <p class="text-center about">
            The Pendrivers.com knows that you care how information about you is used and shared, and we appreciate your trust that we will handle your information with caution and sensibility. The following describes our Privacy Policy, and by visiting ThePendrivers.com, you are accepting the practices described in this notice.<br>
            Included within this Privacy Notice are;<br>
            What Personal Information Does ThePendrivers.com Gather About You?<br>
            Cookies?<br>
            Does ThePendrivers.com Share Information that it Receives?<br>
            What Information is Accessible to You?<br>
            What Choices Do You Have?<br>
            Conditions of Use, Notices, and Revisions<br>
            What Personal Information Does ThePendrivers.com Gather about You?<br>
            The information that we collect from our users is so that we can  bring you an optimised, personalised experience. The types of information that we gather include;<br>
            Information that You Provide: We receive and store information that you input on the site, or that you give to us in any other way. You may choose not to provide the site with certain information, however, you may not be enjoying certain of ThePendrivers.com's features.<br>
            Your information is used for such purposes as providing responses to your requests, rendering customised shopping experience for you, as well as improving your experience at our stores, and to communicate with you.<br>
            Automated Information: The site receives and keeps some types of information at any point where you interact with us. For instance, like a lot of websites, ThePendrivers.com makes use of "cookies" and we receive some types of information when you access ThePendrivers.com using your browser, or from advertisements, as well as any other content served you by or from us, via other websites<br>
            Via Mobile: when you download or make use of apps created by us, we may receive information about your location,l and that of your mobile device, as well as unique identifers particular to your device. We may utilise this information in providing you with location-relevant services, including advertising, search results, as well as other customised content. Most mobile devices will however allow you to turn off locations services.<br>
            E-mail Contact: In order to make the most of email communication, we receive a conformation when you create an account (sign-up) with us on the site, confirming whether your device had email-enabled capabilities. We compare our user list with external ones in orderyo avoid sending you unnecessary messages. You can also adjust your user communication preferences if you do not wish to receive email messages from us.<br>
            Information Gotten from Other Sources: We may also receive and include information about you from other sources.<br>
            Cookies?<br>
            In order to enable our systems to recognise your device and to provide personalised features such as Recommeded for You services, 1-Click purchasing, personalised advertisements on other websites, as well as for your storage of items in your  Shopping Cart between visits, we transfer unique identifiers called "Cookies" to your device.<br>
            Most browsers possess a help feature which enables you to prevent your browser from receiving new cookies, and tell you how to have the browser give you a notification when you receive a new cookie, or how to have cookies disabled. Also, by changing the add-on's settings or visiting the Web site of its manufacturer, you can disable or delete similar data used by browser add-ons, such as Flash cookies.<br>
            We recommend, however, that you leave cookoes turned on, since they allow you to enjoy certain features from ThePendrivers.com. i.e, f you block cookies, or reject ours, you will not be able to use any products or services of ThePendrivers.com which requires that you Sign in.<br>
            <br>
            Does ThePendrivers.com Share the Information It Receives?<br>
            Our users' information is important to us and we are not in the practice of selling it to others. Information about our users is shared only as described within this policy.<br>
            Third-Party Service Providers: We employ the services of other companies and individuals to perform certain functions on behalf of the site. These include the removal of repetitive information from our user lists, analysing data, providing marketing assistance, and processing credit card payment. These parties have access to personal information but may not use it for other purposes.<br>
            Promotions and Offers: We may sometimes send out offers to selected groups of our users on behalf of some affiliated bodies. However, when we do this, we do not give them your personal information. You may adjust your user settings if you do not wish to receive such offers.<br>
            Business Develomlemt and Transfers: As ThePendrivers.com continues to develop, we might sell  or acquire assets including stores, subsidiaries, etc. During this, user information is generally included among the transferred  assets, but will remain subject to the assurances contained within any previous privacy policy, unless the user consents otherwise.<br>
            Also, although unlikely, in the case that ThePendrivers.com is acquired, user information will be among the assets transferred.<br>
            Protection of ThePendrivers.com and Others: When we believe it to be appropriate in compliance with the law, we release account and other personal information in order to enforce or apply agreements, or to protect the  rights, property or safety of ThePendrivers.com, our users or others. This includes the exchange of information with other companies and organisations for protection against fraud. This does not, however, include selling, renting, sharing or any other form of disclosing personally identifiable information from users for commercial purposes in violation of the commitments out forth in this Privacy Policy.<br>
            What Information Can I Access?<br>
            For the purpose of viewing and making updates, you have access to a wide range of information about your account and interactions with ThePendrivers.com.<br>
            What Choices Do You Have?<br>
            As treated above, you can always choose not to provide information that is asked, even though it may impede you from enjoying certain of our features, including Your Profile, Carts, as well as customised notifications so that you can stay in the know about your favorite products and services with us, Service Upgrades, etc.<br>
            As time goes on, you can make additions or updates to certain information that you provide us. <br>
            If you do not wish to receive e-mail messages and notifications from us, you can adjust your profile settings to that preference.<br>
            Conditions of Use, Notices, and Revisions<br>
            By choosing to visit ThePendrivers.com, your visit and any dispute relating to privacy is subject to this Privacy Notice.<br>
            For any questions that you might have, please contact us with a description and we will see to its rectification.<br>
            Our business is constantly changing and our Privacy Policy will change as well. We may send email notifications of our notices but you should check the site frequently to see recent changes. Unless stated otherwise, the items of this Privacy Notice applies to every information that we have about you and your account with us and we affirm that we will not make changes to our Policy that will be less protective of your users and users' information, without seeking the consent of affected users.<br>
        </p>
	</div>
</section>

    
    {% include "./includes/footer.html" %}
  </div>

  

  
  {% include "./includes/js.html" %}
</body>



</html>
