{% load staticfiles %}
<div class="bootstrapiso">
<footer id="footer" {% if footer %}style="background-image: url(https://res.cloudinary.com/favouroked/image/upload/v1525704625/bg-footer.jpg);"
  {% else %}class="footerWhite" {% endif %}>
  
  <div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="col-3"><a href="/about-us" style="color:white; text-decoration: none !important;">About Us</a></div>
      <div class="col-3 pl-0 pr-0"><a href="/terms" style="color:white; text-decoration: none !important;">Terms & Conditions</a></div>
      <div class="col-3 pr-1"><a href="/privacy" style="color:white; text-decoration: none !important;">Privacy Policy</a></div>
      <div class="col-3 pl-1 pr-0"><a href="/faq" style="color:white; text-decoration: none !important;">FAQs</a></div>
    </div>
    <p>&copy 2018 THEPENDRIVERS  
      <span class="float-right">
        <a href="https://m.facebook.com/thependrivers"><i class="fa fa-facebook mr-3" aria-hidden="true"></i></a> 
        <a href="https://twitter.com/thePendrivers?s=09"><i class="fa fa-twitter mr-3" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/thependrivers/"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
    </p>

</div>
</footer>
</div>