{% load staticfiles %}
<nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
    <div class="container">

        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="img-responsive" src="http://res.cloudinary.com/favouroked/image/upload/c_scale,h_497,w_1080/v1528109432/WhatsApp_Image_2018-06-03_at_8.23.44_PM.jpg" style="width: 150px; display: inline-block; transform: translateY(-5px);">
            </a>
        </div>

        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                    <li {% if name == 'home' %}class="active"{% endif %}>
                            <a href="/" role="button" aria-haspopup="true" aria-expanded="false">Home
        
                            </a>
                        </li>
                <li>
                    <a href="/posts/sub-category/Fiction/" role="button" aria-haspopup="true" aria-expanded="false">Blog

                    </a>
                </li>
                
                <li class=" dropdown singleDrop">
                        <a href="/college" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">College <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu dropdown-menu-left">
                        <li><a class="" href="/college-category/Class">Class</a></li>
                        <li><a class="" href="/college-category/Dictionary">Dictionary</a></li>
                        <li><a class="" href="/college-category/Biography">Biography</a></li>
                        <li><a class="" href="/college-category/Guest">Guest Posts</a></li>
                        {% if request.user.is_staff %}
                        <li><a class="" href="/college-create">Create</a></li>
                        {% endif %}
                      </ul>
                    </li>
                {% if request.user.is_staff %}
                <li class=" dropdown singleDrop">
                    <a href="/contest" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contest <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a class="" href="/contest">Enter Contest</a></li>
                    <li><a class="" href="/contest/create">Create Contest</a></li>
                  </ul>
                </li>
                {% else %}
                <li>
                    <a href="/contest" role="button" aria-haspopup="true" aria-expanded="false">Contest
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="/subscribe" role="button" aria-haspopup="true" aria-expanded="false">Newsletter

                    </a>
                </li>
                <li>
                    <a href="/contact-us" role="button" aria-haspopup="true" aria-expanded="false">Contact Us

                    </a>
                </li>
                <li class=" dropdown singleDrop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if request.user.is_authenticated %}{{ request.user.username }}{% else %}User{% endif %} <i class="fa fa-user" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu dropdown-menu-left">
                      {% if request.user.is_authenticated %}
                      <li><a href="/accounts/profile/">View Profile</a></li>
                          <li><a href="{% url 'cart' %}">My Cart</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Create Account</a></li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}

                  </ul>
                </li>
            </ul>
        </div>
        <a class="btn btn-default navbar-btn" href="/sell-ebooks"> +
            <span>Sell Books</span>
        </a>
    </div>
</nav>